<section class="container-fluid container-lg pageCont">
  <div class="pageMain">
    <h3>My APIs</h3>
    <hr/>
    <div class="myApiCont">
      <div class="my-2 text-center myApi">
        <h4>BULK SMS</h4>
        <img src="assets/img/bulkapi.png" class="img-fluid my-3 mx-auto myApiImg" />
        <div class="d-grid">
          <button type="submit" class="btn authBtn">VIEW</button>
        </div>
      </div>
      <div class="my-2 text-center myApi">
        <h4>MPESA</h4>
        <img src="assets/img/mpesaapi.png" class="img-fluid my-3 mx-auto myApiImg" />
        <div class="d-grid">
          <button type="submit" class="btn authBtn">VIEW</button>
        </div>
      </div>
      <div class="my-2 text-center myApi">
        <h4>USSD</h4>
        <img src="assets/img/ussdapi.png" class="img-fluid my-3 mx-auto myApiImg" />
        <div class="d-grid">
          <button type="submit" class="btn authBtn">VIEW</button>
        </div>
      </div>
      <div class="my-2 text-center myApi">
        <h4>KPLC</h4>
        <img src="assets/img/kplcapi.png" class="img-fluid my-3 mx-auto myApiImg" />
        <div class="d-grid">
          <button type="submit" class="btn authBtn">VIEW</button>
        </div>
      </div>
      <div class="my-2 text-center myApi">
        <h4>DSTV</h4>
        <img src="assets/img/dstvapi.png" class="img-fluid my-3 mx-auto myApiImg" />
        <div class="d-grid">
          <button type="submit" class="btn authBtn">VIEW</button>
        </div>
      </div>
    </div>
  </div>
</section>
