<main class="auth">
  <section class="container-fluid authInn">
    <img src="./assets/img/logoauth.png" alt="Swivel Developer Portal Auth page logo" class="mb-5"/>
    <div class="loginCont my-5">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
          <h3>LOGIN</h3>
          <div class="myInputs">
            <input type="email" class="form-control" id="email" formControlName="userName" required>
            <label for="email" class="form-label">
              <span class="contName">Email *</span>
            </label>
            <div *ngIf="isFieldInvalid('userName')" class="myValids">Please inform your user name</div>
          </div>
          <div class="myInputs passwords">
            <span class="btn showPwd text-center" (click)="showPwd()"><i [class]="passShown ? 'far fa-eye-slash' : 'far fa-eye'"></i></span>
            <input [type]="passType" class="form-control" id="password" formControlName="password" required>
            <label for="password" class="form-label">
              <span class="contName">Password *</span>
            </label>
            <div *ngIf="isFieldInvalid('password')" class="myValids">Incorrect Password</div>
          </div>
          <p class="my-3 authTxts"><a routerLink="/forgotpwd">Forgot user details?</a></p>
          <div class="d-grid">
            <button type="submit" class="btn authBtn">Submit</button>
          </div>
          <p class="my-3 authTxts">Don't You have an Account? <a routerLink="/signup">Register</a></p>
        </form>
      </div>
    </div>
    </div>
  </section>
</main>
