<section class="container-fluid container-lg pageCont">
  <div class="pageMain">
    <nav class="row myApiCont">
      <div class="col-12 myTitle">
        <h3>APIs SERVICES PRICING</h3>
        <hr/>
      </div>
      <div class="col-12">
        <ul class="row nav nav-tabs" id="myTab" role="tablist">
          <li class="my-2 col-2 nav-item priceTabs" role="presentation">
            <div class="text-center nav-link active myApi" id="sms-tab" data-bs-toggle="tab" data-bs-target="#sms" type="button" role="tab" aria-controls="sms" aria-selected="true">
              <h4>SMS</h4>
              <div class="priceIcon my-3 mx-auto">
                <img src="assets/img/pricesms.png">
              </div>
            </div>
          </li>
          <li class="my-2 col-2 nav-item priceTabs" role="presentation">
            <div class="text-center nav-link myApi" id="money-tab" data-bs-toggle="tab" data-bs-target="#money" type="button" role="tab" aria-controls="money" aria-selected="false">
              <h4>M-MONEY</h4>
              <div class="priceIcon my-3 mx-auto">
                <img src="assets/img/pricingmoney.png">
              </div>
            </div>
          </li>
          <li class="my-2 col-2 nav-item priceTabs" role="presentation">
            <div class="text-center nav-link myApi" id="airtime-tab" data-bs-toggle="tab" data-bs-target="#airtime" type="button" role="tab" aria-controls="airtime" aria-selected="false">
              <h4>AIRTIME</h4>
              <div class="priceIcon my-3 mx-auto">
                <img src="assets/img/priceairtime.png">
              </div>
            </div>
          </li>
          <li class="my-2 col-2 nav-item priceTabs" role="presentation">
            <div class="text-center nav-link myApi" id="kplc-tab" data-bs-toggle="tab" data-bs-target="#kplc" type="button" role="tab" aria-controls="kplc" aria-selected="false">
              <h4>KPLC</h4>
              <div class="priceIcon my-3 mx-auto">
                <img src="assets/img/pricekplc.png">
              </div>
            </div>
          </li>
          <li class="my-2 col-2 nav-item priceTabs" role="presentation">
            <div class="text-center nav-link myApi" id="plink-tab" data-bs-toggle="tab" data-bs-target="#plink" type="button" role="tab" aria-controls="plink" aria-selected="false">
              <h4>PESA LINK</h4>
              <div class="priceIcon my-3 mx-auto">
                <img src="assets/img/pesalink.png">
              </div>
            </div>
          </li>
          <li class="my-2 col-2 nav-item priceTabs" role="presentation">
            <div class="text-center nav-link myApi" id="card-tab" data-bs-toggle="tab" data-bs-target="#card" type="button" role="tab" aria-controls="card" aria-selected="false">
              <h4>CARD</h4>
              <div class="priceIcon my-3 mx-auto">
                <img src="assets/img/pricecard.png">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="sms" role="tabpanel" aria-labelledby="sms-tab">SMS</div>
      <div class="tab-pane fade" id="money" role="tabpanel" aria-labelledby="money-tab">MONEY</div>
      <div class="tab-pane fade" id="airtime" role="tabpanel" aria-labelledby="airtime-tab">AIRTIME</div>
      <div class="tab-pane fade" id="kplc" role="tabpanel" aria-labelledby="kplc-tab">KPLC</div>
      <div class="tab-pane fade" id="plink" role="tabpanel" aria-labelledby="plink-tab">PESA LINK</div>
      <div class="tab-pane fade" id="card" role="tabpanel" aria-labelledby="card-tab">CARD</div>
    </div>
  </div>
</section>
