<footer class="myFooter">
  <section class="container-fluid container-lg">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-5">
        <ul class="footLinks">
          <li><a routerLink="">About us</a> </li>
          <span class="mx-2">|</span>
          <li><a routerLink="">Privacy policy</a> </li>
          <span class="mx-2">|</span>
          <li><a routerLink="">Terms & conditions</a> </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 myCopy">
        <p>Copyright &copy; {{fullYear}} Eclectics International Ltd.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-2 ">
        <ul class="socilLinks">
          <li><a routerLink="" class="mt-1"><i class="fab fa-facebook-f"></i></a></li>
          <li><a routerLink="" class="mt-1"><i class="fab fa-twitter"></i></a></li>
          <li><a routerLink="" class="mt-1"><i class="fab fa-instagram"></i></a></li>
          <li><a routerLink="" class="mt-1"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
