<ul class="navLinks">
  <li>
    <a class="nav-link" [routerLinkActive]="['active']" routerLink="apis" data-bs-dismiss="offcanvas" >APIs</a>
  </li>
  <li>
    <a class="nav-link" [routerLinkActive]="['active']" routerLink="docs" data-bs-dismiss="offcanvas">DOCS</a>
  </li>
  <li>
    <a class="nav-link" [routerLinkActive]="['active']" routerLink="myapis" data-bs-dismiss="offcanvas">My APIs</a>
  </li>
  <li>
    <a class="nav-link" [routerLinkActive]="['active']" routerLink="pricing" data-bs-dismiss="offcanvas">PRICING</a>
  </li>
  <li>
    <a class="nav-link" [routerLinkActive]="['active']" routerLink="golive" data-bs-dismiss="offcanvas">GO-LIVE</a>
  </li>
</ul>

