<section class="container-fluid container-lg pageCont">
  <div class="pageMain">
    <h3>APIs Category</h3>
    <div class="apiCats">
      <ul class="nav nav-pills nav-justified mb-3 catNav" id="apiCategories" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pill-mobileMoney" data-bs-toggle="pill" data-bs-target="#mobileMoney" type="button" role="tab" aria-controls="pills-mMoney" aria-selected="true"><span><img src="assets/img/mmoney.png" class="catIcons"/></span>M-Money</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-airtime" data-bs-toggle="pill" data-bs-target="#airtime" type="button" role="tab" aria-controls="pills-airtime" aria-selected="false"><span><img src="assets/img/airtime.png" class="catIcons"/></span>Airtime</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-sms" data-bs-toggle="pill" data-bs-target="#sms" type="button" role="tab" aria-controls="pills-sms" aria-selected="false"><span><img src="assets/img/sms.png" class="catIcons"/></span>SMS</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-ussd" data-bs-toggle="pill" data-bs-target="#ussd" type="button" role="tab" aria-controls="pills-ussd" aria-selected="false"><span><img src="assets/img/ussd.png" class="catIcons"/></span>USSD</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-paybill" data-bs-toggle="pill" data-bs-target="#paybill" type="button" role="tab" aria-controls="pills-paybill" aria-selected="false"><span><img src="assets/img/paybill.png" class="catIcons"/></span>Pay Bill</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-pesaLink" data-bs-toggle="pill" data-bs-target="#pesaLink" type="button" role="tab" aria-controls="pills-pesaLink" aria-selected="false"><span><img src="assets/img/pesalink.png" class="catIcons"/></span>Pesa Link</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="mobileMoney" role="tabpanel" aria-labelledby="mobileMoney-tab">
          <div class="container-fluid container-lg">
            <article class="row">
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">SAFARICOM</h3>
                  <img src="assets/img/safcom.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">AIRTEL</h3>
                  <img src="assets/img/airtel.png" class="img-fluid mx-auto mb-4"/>
                    <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                      <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                    </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">TELKOM</h3>
                  <img src="assets/img/telkom.png" class="img-fluid mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
        <div class="tab-pane fade" id="airtime" role="tabpanel" aria-labelledby="airtime-tab">
          <div class="container-fluid container-lg">
            <article class="row">
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">SAFARICOM</h3>
                  <img src="assets/img/safcom.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">AIRTEL</h3>
                  <img src="assets/img/airtel.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">TELKOM</h3>
                  <img src="assets/img/telkom.png" class="img-fluid mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
        <div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="sms-tab">
          <div class="container-fluid container-lg">
            <article class="row">
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">SAFARICOM</h3>
                  <img src="assets/img/safcom.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">AIRTEL</h3>
                  <img src="assets/img/airtel.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">TELKOM</h3>
                  <img src="assets/img/telkom.png" class="img-fluid mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
        <div class="tab-pane fade" id="ussd" role="tabpanel" aria-labelledby="ussd-tab">
          <div class="container-fluid container-lg">
            <article class="row">
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">SAFARICOM</h3>
                  <img src="assets/img/safcom.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">AIRTEL</h3>
                  <img src="assets/img/airtel.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">TELKOM</h3>
                  <img src="assets/img/telkom.png" class="img-fluid mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
        <div class="tab-pane fade" id="paybill" role="tabpanel" aria-labelledby="paybill-tab">
          <div class="container-fluid container-lg">
            <article class="row">
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">SAFARICOM</h3>
                  <img src="assets/img/safcom.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">AIRTEL</h3>
                  <img src="assets/img/airtel.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">TELKOM</h3>
                  <img src="assets/img/telkom.png" class="img-fluid mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
        <div class="tab-pane fade" id="pesaLink" role="tabpanel" aria-labelledby="pesaLink-tab">
          <div class="container-fluid container-lg">
            <article class="row">
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">SAFARICOM</h3>
                  <img src="assets/img/safcom.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">AIRTEL</h3>
                  <img src="assets/img/airtel.png" class="img-fluid mx-auto mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
              <section class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="catCont">
                  <h3 class="my-3">TELKOM</h3>
                  <img src="assets/img/telkom.png" class="img-fluid mb-4"/>
                  <div class="d-grid col-12 col-sm-10 mx-auto mt-4">
                    <button type="submit" class="btn authBtn">SUBSCRIBE</button>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
